/* ethereal Green: 93CD02 */
/* ethereal Blue:  00027C */
/* ethereal Light Blue: A9B2C7 */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

*{
	margin:0;
	padding:0;
	font:bold 12px "Lucida Grande", Arial, sans-serif;
}

body {
	padding: 10px;
}

h1{
	font-size:14px;
}

.focusField{
	border:solid 2px #73A6FF;
	background:#EFF5FF;
	color:#000;
}

.idleField{
	background:#EEE;
	color: #6F6F6F;
  border: solid 2px #DFDFDF;
}		

html {
  height: 100%;
}

body {
	min-width:850px;
	text-align:center;
  background: #abc3df url('../images/bg.jpg') no-repeat 50% 0;
	color: black;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 73%;  /* Enables font size scaling in MSIE */
	padding: 0;
}

html > body {
	font-size: 9pt;
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 850px;
}

.doNotDisplay {
	display: none !important;
}

/* ##### Header ##### */

.superHeader {
	color: black;
	background-color: transparent;
	text-align: right;
	margin: 0;
	padding: 0.5ex 10px;
}

.superHeader span {
	color: #051E5D;
	background-color: transparent;
	font-weight: bold;
}

#header {
	color: inherit;
}

.headerTitle {
	margin: 0;
	padding: 0.25em 4mm 0.25em 4mm;
}

.headerTitle a {
	color: black;
	background-color: transparent;
	text-decoration: none;
	font-size: 110%;  /* For MSIE */
	font-weight: bold;
	font-style: italic;
}

.headerTitle > a {
	font-size: 138%;  /* For fully standards-compliant user agents */
}

.headerTitle span {
	color: white;
	background-color: transparent;
	font-weight: normal;
}

.subHeader {
	color: #D2D3DD;
	height: 40px;
	background: #FFFFFF url('../images/banner_bot.gif') no-repeat top right;
	font-size: 109%;
	margin: 0;
	padding: 10px 0 0 20px;
	text-align:left;
}

.subHeader a {
	color: #D2D3DD; 	/* whitish blue */
	text-decoration: none;
	font-weight: bold;
	margin: 0;
	padding: 0 1ex;
}

.subHeader a:hover {
	color: #FFFFFF;
}

/* ##### Main Content ##### */
#main-content {
	color: black;
	background-color: white;
	text-align: justify;
	line-height: 1.5em;
	padding: 1em 1em;
}

#main-content h1 {
	color: #051e5d;
	background-color: transparent;
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 175%;
	font-weight: bold;
	font-style: italic;
	text-align: left;
	margin: 1em 0 0 0;
	padding: 1em 0 0 0;
}

#main-content a {
	color: #600;
	background-color: transparent;
	text-decoration: underline;
}

#main-content a:hover {
	text-decoration: none;
}

/* ##### Header ##### */

.midHeader {
	height: 85px;
	background: #FFFFFF url('../images/banner_top.gif') no-repeat top right;
	margin: 0;
}

.headerTitle {
	font-size: 300%;
	margin: 0;
	padding: 0;
}

.headerSubTitle {
	font-size: 151%;
	font-weight: normal;
	font-style: italic;
	margin: 0 0 1ex 0;
	padding: 0;
}

#flash {/*
	display: none;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -20px;
*/
}

.flash_notice {
	display:none;
	color: #333;  
	background: #efe;
	border: solid 2px #bd7;  
	margin-bottom:5px;
}

.flash_error {
	display:none;
	color: #333;  
	background: #f8ccc6;
	border: solid 2px #e85744;  
	margin-bottom:5px;
}

.flash_notice,.flash_error .message {
	padding: 8px;
	font-weight: bold;
}


#footer {
  width: 100%;
  color:#999999;
  font-size: 0.9em;
  text-align: center;
  border-top: 2px solid #EEEEEE;
}

.formfield {
	margin-top: 15px;
	margin-bottom:15px;
}

.formfield label{
	display:block;
	color: #051E5D; 	/* whitish blue */
	font-weight:bold;
}

.epc-button-icon-left span{
  float:left;
}
.epc-button-icon-right span{
  float:right;
}

.epc-button-icon-solo span{
  text-align:center;
}

.epc-buttonset button{
  float:left;
}

.epc-buttonset-multi .epc-button {
  margin-right: -1px;
}

.epc-text {
  font-size:1.2em;
}

.epc-textfield{
	height: 20px;
  padding: 3px;
  font-family: "Lucida Grande", Arial, sans-serif;
  font-weight: bold;
  font-size:20px;
}

.epc-checkbox{
	height: 20px;
  padding: 3px;
  font-family: "Lucida Grande", Arial, sans-serif;
  font-weight: bold;
  font-size:20px;
}

.epc-select{
  height:30px;
  padding:5px;
  width:200px;
}
.epc-button{
   outline: 0; 
   margin:0 4px 0 0; 
   padding: .4em 1em; 
   text-decoration:none !important; 
   cursor:pointer; 
   position: relative; 
   text-align: center; 
   zoom: 1; 
}

#ticket-form {
	width:100%;
	height: 450px;
}

#fileSelectionResults {
  width: 90%;
}

#fileSelectionResults ol li {
 font-family: arial;
 font-weight: bold;
 font-size: 1.3em;
 list-style: decimal inside;
 padding-bottom:10px;

}

#fileSelectionResults ol li a{
 float: right;
 text-decoration: none;
 background-color: #600;
 color: white;
 padding-left: 2px;
 padding-right: 2px;
}

#fileSelectionResults ol li a:hover{
  color:#AAAAFF;
}

#serviceContainer {
  width: 100%;
  margin: 0 auto;
}

.service {
  background-image: url('../images/gradient1.jpg');
  background-repeat: repeat-x;
  padding: 5px 20px;
  float:left;
  height:175px;
  width: 80%;
  border-right:1px solid #DDDDDD;
  border-bottom: 8px solid #051E5D
}

.service:last-child {
  border-right:none;
  border-bottom: 8px solid #051E5D
}

.service label {
  font-size: large;
  height:50px;
}

.float_left {
	float:left;
	margin-right: 15px;
}

.float_right {
	float:right;
	margin-left: 15px;
}

.fieldError {
	border: 2px solid red;
}

.select-result {
	line-height: 127px;
	color: #AAAAAA;
	font-family: sans-serif;
	font-style: italic;
	font-weight: bold;
	font-size: 1.3em;
	text-align: center;
 /* background-color:#EEEEEE;
  border: 2px dashed #AAAAAA;*/
  width: 170px;
  height:127px;
}

.select-result > p {
	line-height: 127px;
	color: #93CD02; 	/* whitish blue */
	font-size: 2em;
}

.lcolumn {
	float: left;
	width: 50%;
}

.rcolumn {
	float: right;
	width: 50%;
}

.column3 {
	float: left;
	width: 27%;
}

#mediaTypeHelpDialog {
  display:none;
  text-align: left;
}

#specifiFileTypeField {
  display: none;
}